/* .password-strength-indicator {
    margin-top: 5px;
    width: 50%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .strength-bar {
    height: 100%;
    border-radius: 5px;
  }
  
  .strength-1 {
    background-color: red;
    width: 20%;
  }
  
  .strength-2 {
    background-color: orange;
    width: 55%;
  }
  
  .strength-3 {
    background-color: yellow;
    width: 80%;
  }
  
  .strength-4 {
    background-color: lightgreen;
    width: 100%;
  }
  
  .strength-5 {
    background-color: green;

  }
   */