.banner {
  padding: 1.4rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: $shadowBottom;

  &-text--secondary {
    margin-left: 0.4rem;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    padding: 2.4rem 1.4rem;

    &-text {
      display: flex;
      flex-direction: column;
    }

    &-text--secondary {
      margin-left: 0;
    }
  }
}
