.form__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: $shadowBottom;

    &__input-box {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        position: relative;
        padding: 1.4rem;
        border: 1px solid $grayishBlue;
        border-radius: 5px;

        &.error-border {
          background-image: url("/images/icon-error.svg");
          background-repeat: no-repeat;
          background-position: 95% 50%;
          color: $red;
        }

        &:focus {
          outline: none;
          border: 2px solid $darkBlue;
        }
      }

      .error-border {
        border: 2px solid $red;
      }

      .error-text {
        text-align: right;
      }

      .icon-error {
        height: 30px;
      }
    }

    button {
      position: relative;
      border-radius: 1rem;
      border: none;
      background-color: $green;
      padding: 2rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: rgba($green, 0.8);
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(1px);
      }

      &:disabled {
        background-color: $darkBlue;
        transform: translateY(0);
        cursor: not-allowed;
        opacity: 1;
      }
    }

    &-terms {
      text-align: center;

      &--link:link,
      &--link:visited {
        margin-left: 0.4rem;

        &:active,
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .form__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
